@use "variaveis";

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

.text--big{
    @include text(18px);
    
}

.text{
    @include text;
}

.text--small{
    @include text(12px);
}

body{
    background-color: variaveis.$corDeFundo;
}